    
body {
    background: wheat;
    padding: 4.5rem;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: underline darkgreen;
    text-decoration-thickness: 0.15em;
    color: black
}

#logo {
    font-family: 'Inter', Arial;
    color: black;
}

.hero-foot {
    background-color: wheat;
}